@import "styles/colors.less";

.container {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: @dark-1;
  }

  .filtersContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 800px;
    flex-wrap: wrap;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  .cardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-gap: 24px;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .totalText {
    margin-top: 1.4rem;

    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: @dark-1;

    strong {
      color: @blue;
    }
  }
}
